version: '3.8'

services:
  db:
    image: mysql:latest
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: sports_tournament_organizer
    volumes:
      - mysql_data:/var/lib/mysql
  app:
    build: .
    depends_on:
      db:
        condition: service_started
    ports:
      - "8080:8080"
volumes:
  mysql_data: