name: CI

on:
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  code-formatting-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java 23 with Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: maven
      - name: Run Spotless style ckecks
        run: mvn spotless:check
  sonar-cloud-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java 23 with Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: maven
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=RHandarov_dev-ops-project-fmi
  build:
    needs: [code-formatting-checks, sonar-cloud-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java 23 with Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: maven
      - name: Build app
        run: mvn package
      - name: Upload the built app
        uses: actions/upload-artifact@v4
        with:
          name: code
          path: .
          include-hidden-files: true
  unit-tests:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
      - name: Setup Java 23 with Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: maven
      - name: Run unit tests
        run: mvn test
  docker-image:
    needs: [unit-tests]
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
      - name: Login to github image repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Convert actor to lowercase letters
        env:
          ORIGINAL_ACTOR: ${{ github.actor }}
        run: echo "ACTOR=${ORIGINAL_ACTOR,,}" >> ${GITHUB_ENV}
      - name: Build image
        run: |
          docker build -t "ghcr.io/${{ env.ACTOR }}/myapp:latest" \
            -t "ghcr.io/${{ env.ACTOR }}/myapp:1.0.${{ github.sha }}" .
      - name: Push image
        run: docker push -a "ghcr.io/${{ env.ACTOR }}/myapp"
